<h2> {{model.author}}'s question involving  <em>{{model.subject}}</em>...</h2>

{{question-detail question=model update="update" destroyQuestion="destroyQuestion" saveAnswer="saveAnswer"}}

{{new-answer saveAnswer="saveAnswer" question=model}}

{{update-question question=model update="update"}}
<hr>
{{answer-board answers=model.answers destroyAnswer="destroyAnswer"}}
